@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');




.footer-container {
  width: 100%;
  background: #000;
  display: flex;
  justify-content: center;
}


.footer-inner {
  width: 100%;
  max-width: 1080px; 
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}


.logo-img {
  width: 200px;
  height: auto;
}


.footer-nav {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex: 1; 
  gap: 80px;
  margin-left: 40px; 
}

.nav-item {
  color: white;
  font-weight: 200;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 23px;  
  font-family: "Rubik Spray Paint", system-ui;

  
}

.nav-item:hover {
  color: #6ab4ff;
}


.footer-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-img {
  width: 36px;
  height: 36px;
}

.cart-icon {
  font-size: 28px;
  color: white;
  text-decoration: none;
}

.cart-icon:hover {
  color: #6ab4ff;
}
